<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      href="/assets/admin/assets/js/plugins/nucleo/css/nucleo.css"
      rel="stylesheet"
    />
    <link
      href="/assets/admin/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      href="/assets/admin/assets/css/argon-dashboard.css?v=1.1.0"
      rel="stylesheet"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link
      href="/assets/admin/assets/vendor/nucleo/css/nucleo.css"
      rel="stylesheet"
    />
    <link
      href="/assets/admin/assets/vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/superadminstyle.css" />
    <!-- Theme CSS -->
    <link
      type="text/css"
      href="/assets/admin/assets/css/argon.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main-content">
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Brand -->
          <a
            class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
            href="../index.html"
            >Tables</a
          >
          <!-- Form -->

          <!-- User -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                      class="img"
                      alt="Image placeholder"
                      src="https://us.123rf.com/450wm/donets/donets1508/donets150800333/43440158-stock-vector-vector-user-icon-of-man-in-business-suit.jpg?ver=6"
                    />
                  </span>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span id="avatarname" class="mb-0 text-sm font-weight-bold"
                      >Super Admin</span
                    >
                  </div>
                </div>
              </a>
              <div
                class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
              >
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>

                <div class="dropdown-divider"></div>
                <a href="#!" onclick="logoutt()" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- Header -->
      <div class="header bg-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <!-- Tabs with icons -->

        <div class="card shadow">
          <div class="card-body" style="background-color: #f5f5f5;">
            <div class="tab-content" id="myTabContent">
              <h1 class="text-center">Welcome To Super Admin Panel.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
