<footer class="footer footer-big" data-background-color="black">
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-md-2">
                    <h5>Event Categories</h5>
                    <ul class="links-vertical">
                        <li>
                            <a href="#pablo" class="text-muted">
                             Meetings
                         </a>
                     </li>
                     <li>
                        <a href="#pablo" class="text-muted">
                         Conferences
                     </a>
                 </li>
                 <li>
                    <a href="#pablo" class="text-muted">
                       Events
                   </a>
               </li>
               <li>
                <a href="#pablo" class="text-muted">
                   Private dinings
               </a>
           </li>
       </ul>
   </div>
   <div class="col-md-2">
    <h5>Planeve</h5>
    <ul class="links-vertical">
            <li>
                    <a href="./eventsuppliers.html" class="text-muted">
                    Event Suppliers
                 </a>
            </li>
            <li>
                    <a href="./whylistvenue.html" class="text-muted">
                    List Venues
                 </a>
                </li>
        <li>
            <a href="#pablo" class="text-muted">
             Venue Finder
         </a>
     </li>
     <li>
        <a href="#pablo" class="text-muted">
           How to Register
       </a>
   </li>
   <li>
    <a href="#pablo" class="text-muted">
     Register Venue
 </a>
</li>
<li>
    <a href="#pablo" class="text-muted">
      Blog
   </a>
</li>
<li>
    <a href="#pablo" class="text-muted">
       Policies
   </a>
</li>
<li>
    <a href="#pablo" class="text-muted">
       Affiliates Program
   </a>
</li>
</ul>
</div>

<div class="col-md-4">
    <h5>Social Feed</h5>
    <div class="social-feed">
        <div class="feed-line">
            <i class="fab fa-twitter"></i>
            
        </div>
        <div class="feed-line">
            <i class="fab fa-twitter"></i>
            
        </div>
        <div class="feed-line">
            <i class="fab fa-facebook-square"></i>
            
        </div>
    </div>
</div>

<div class="col-md-4">
    <h5>Follow Us</h5>
    <ul class="social-buttons">
        <li>
            <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-round">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-round">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble btn-round">
                <i class="fab fa-dribbble"></i>
            </a>
        </li>
        <li>
            <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                <i class="fab fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram btn-round">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>

    <h5><small>Numbers Don't Lie</small></h5>
    <h5>14.521 <small class="text-muted">Freelancers</small></h5>
    <h5>1.423.183 <small class="text-muted">Transactions</small></h5>
</div>
</div>
</div>

<hr />

<div class="copyright">
    Copyright &copy;
    <script type="text/javascript">
        document.write(new Date().getFullYear());
    </script> PlanEve All Rights Reserved.
</div>
</div>
</footer>

