        
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute" style="border-bottom: 1px solid rgba(216, 216, 216, 0.3);;">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                    <a class="navbar-brand mr-5"  href="/index.html"><img src="https://scontent.fkhi16-1.fna.fbcdn.net/v/t1.15752-9/78576062_2214312852204385_8545864323417767936_n.png?_nc_cat=105&_nc_eui2=AeGCOuCczxThHyv3olb4AtNhesp5ul5y3nUl8fg7b7GeUz8Xc0KyR4Lgrn-5-ZWfbyOKUsxvUxP0xmvSBCAZxr5av2cA3FWaYNps6W6aDfm_gA&_nc_ohc=xJWZQprgJHIAQkFMoPLSInVAaPXZnViPLnG0apOurayOQVaZ7uO-mPDoA&_nc_ht=scontent.fkhi16-1.fna&oh=103ddef5294b3fcf0a1806c7bb9d8d9f&oe=5E6A4FD1" alt=""></a>
                </div>
    
                <div class="collapse navbar-collapse">
                    <ul class=" navbar-nav mx-auto">
                       
                    </ul>
    
                    <ul class="nav navbar-nav navbar-right">
    
    
    
    
                                    <li class="nav">
                                        <a class="nav-link mt-1" style="font-size: 20px; letter-spacing: 3px; font-family: inherit; font-weight: 500;"  href="./askvenue.html" >
                                            <i class="far fa-user"></i>   Ask A Venue expert &nbsp;&nbsp;&nbsp;&nbsp;
                                        </a>
                                        </li>
                                        <li class="nav">
                                            <a class="nav-link mt-1" style="font-size: 20px; letter-spacing: 3px; font-family: inherit; font-weight: 500;"  href="/venues" >
                                                   Venues&nbsp;&nbsp;&nbsp;&nbsp;
                                            </a>
                                            </li>
    
    
                                        <li class="nav-item">
                                                <a  href="#loginmodal" data-toggle="modal" style="color: white;">
                                                    <button onclick="checkauth()"  class="btnnav" type="button" style="font-size: 20px; text-transform: uppercase;" >Venue Login</button>
                                                  </a>
                                        </li>
                            </ul>
    
                </div>
                
            </div>
        </nav>
    
    