<div class="container">
    <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Inspiring Venues for...</h2>
            <!-- <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4> -->
        <br>
        </div>

  

<div class="container">

<div class="row">

 


 <div class="col-md-6 col-lg-8" >
     <a href="/venues/category/Conference">
    <div class="card card-pricing  card-background" style="background-image: url('https://www.cmaanet.org/sites/default/files/styles/hero_banner_xl/public/2018-10/conferences_crop.jpg?itok=IT5d_IKn')">
        <div class="card-body">
       
            <h1 style="margin-top: 30%;" class="card-title">CONFERENCES</h1>
          
     </div>
 </div>
</a>
</div>

<div class="col-md-6 col-lg-4">
    <a href="/venues/category/Awar Ceremony">
   <div class="card card-pricing  card-background" style="background-image: url('https://wearegreenspark.com/wp-content/uploads/VR-Awards-2018-award-ceremony-production.jpg')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">AWARD CEREMONY</h1>
         
    </div>
</div>
</a>
</div>

<div class="col-md-6 col-lg-4">
    <a href="/venues/category/The Unusual">
   <div class="card card-pricing  card-background" style="background-image: url('https://s3.amazonaws.com/nameberry-wp-media-library/blog/wp-content/uploads/2014/04/teaparty-elfie.jpg?w=900&h=600')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">THE UNUSUAL</h1>
    </div>
</div>
</a>
</div>

<div class="col-md-6 col-lg-4">
    <a href="/venues/category/Private Dining">
   <div class="card card-pricing  card-background" style="background-image: url('https://www.manchesterrestaurants.com/photos/oriental/tattu-parlour.jpg')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">PRIVATE DINING</h1>
         
    </div>
</div>
</a>
</div>

<div class="col-md-6 col-lg-4">
    <a href="/venues/category/Meeting">
   <div class="card card-pricing  card-background" style="background-image: url('https://www.workfront.com/sites/default/files/images/articles/2018-07/Blog_5-Tips%20for-Effective-Meetings.png')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">MEETINGS</h1>
         
    </div>
</div>
</a>
</div>

<div class="col-md-6 col-lg-4">
    <a href="/venues/category/Religious Events">
   <div class="card card-pricing  card-background" style="background-image: url('https://dailypost.in/wp-content/uploads/2019/04/Dubai-Gurudwara-to-hold-daily-iftar-during-Ramadan-735x389-1.jpg')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">RELIGIOUS EVENTS</h1>
         
    </div>
</div>
</a>
</div>


<div class="col-md-6 col-lg-8">
    <a href="/venues/category/Parties">
   <div class="card card-pricing  card-background" style="background-image: url('https://www.sxsw.com/wp-content/uploads/2019/06/SXSW-Party-photo-by-aaron-rogosin.png')">
       <div class="card-body">
      
           <h1 style="margin-top: 50%;" class="card-title">PARTIES</h1>
         
    </div>
</div>
</a>
</div>







</div>
</div>

</div>