<div class="team-2">

    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Trending Venues</h2>
                <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="https://omg.imgix.net/images/2018/03/venues-barns.jpg" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Helfet Lawn</h4>
                        <h6 class="category">Karachi</h6>

                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="https://cjsevent.files.wordpress.com/2018/11/cover.jpg?w=640" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Perl lawn</h4>
                        <h6 class="category">Islamabad</h6>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="http://www.a2zeventssolutionz.com/wp-content/uploads/2018/12/decor-experts-1.jpg" />
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Rex Lawn</h4>
                        <h6 class="category">Lahore</h6>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
