<%- include ("../partials/header") %>     

<style>.separator {
    display: flex;
    align-items: center;
    text-align: center;

     
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.textbook img {
    top: 0.8125rem;
    left: 1.6875rem;
}

 .textbook-right img {
    width: 1.5625rem;
    position: absolute;
    z-index: 5;
}

</style>
  </head>

  <body class="landing-page sidebar-collapse">
    <!-- Navbar -->
    <nav
      style="background-color: #1abc9c; margin-bottom: 0px;"
      class="navbar navbar-expand-lg "
    >
      <div style="margin-bottom: -15px;" class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="/"
            ><h5 style="margin-right: 1000px;"><b>PlanEve</b></h5></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse"></div>
      </div>
    </nav>
    <!-- <h1>Contact page</h1> -->
    <div class="section section-contact-us text-center">
      <hr />
      
      <div class="container">
        <div>
          <h2>Tell us about your event</h2>
          <ul style="list-style-type:none">
            <li>
              Our service is always free and we have a team of venue experts
              ready to help.
            </li>
            <li>Your venue expert will be in touch within one working hour.</li>
          </ul>
        </div>
    
      
      <form class="center" style="margin-left:40px ;">

              <div class="separator"><h6>
                My Event Details
              </h6></div>
        


        <div class="container" style="margin-left:20px;" >
          <br>
          <br>
            <form>
              <div class="form-group ">
                <input  list = 'inputState' class="form-control inputborder" name="eventType"  placeholder="Occasion / Event Type *">
                  <datalist id="inputState">
                    <option value="Wedding">
                    <option value="Party">
                    <option value="Conference">
                    <option value="Meeting">
                    <option value="Seminar">
                    <option value="Religious Event">
                  </datalist>
              </div>
            
            
              <div class="form-row">
                  <div class="form-group col-md-6">        
                    <input  list = 'Location' class="form-control inputborder" name="location" placeholder="Location*">
                    <datalist id="Location">
                        <option value="Shahra-e-Faisal">
                        <option value="Gulshan-e-Hadeed">
                        <option value="P.E.C.H">
                        <option value="Gulshan-e-Iqbal">
                        <option value="Gulistan-e-Johar">
                        <option value="Nazimabad">
                      </datalist>
                  </div>
                  <div class="form-group col-md-6">
                    
                    <select id="inputState" class="form-control inputborder" name="venueStyle">
                            <option selected><h6>
                              Any Venue Style
                            </h6></option>
                            <option>Traditional</option>
                            <option>Modern</option>
                            <option>Creative</option>
                            <option>Spacious</option>
                            <option>Casual</option>
                            <option>Affordable</option>

                          </select>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control inputborder" placeholder=" Estimated Budget *" name="budget">
                  </div>

                <!-- <div class="input-group col-md-6" style="padding: 0 5px 0 5px ;">
                    <div class="input-group-prepend ">
                      <button class="btn btn-primary" type="button" style="margin: 0%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 54px;; height: 38px;" data-toggle="dropdown" name="layout">Any layout</button>
                      <div class="dropdown-menu 
                      " style="width: 186px;">
                        <a class="dropdown-item" href="#">Banquet</a>
                        <hr>
                        <a class="dropdown-item" href="#">Buffet</a>
                        <hr>
                        <a class="dropdown-item" href="#">Dining</a>
                        <hr>
                        <a class="dropdown-item" href="#">Reception</a>
                      </div>
                    </div>
                    <input type="text" class="form-control inputborder col-lg-12" placeholder="Number of People *" name="people">
                  </div> -->


                  
                  
                      <div class="row">
                        <div class=" form-group col-md-6">
                          <div class="datepicker-container">
                            <div class="form-group">                             
                              <input style="width: 515px; margin-left: 6px;" type="text" class="form-control inputborder datetimepicker" value="10/05/2016" name="dateTime"/>
                          </div>
                          </div>
                        </div>
                      </div>
                  
                



                <!-- checkboxes -->
                     <!-- check end -->
                    
              
              <br>
              <br>
              <!-- <div class="container"> <hr />
              
                <form class="center" style="margin-left:40px ;" name="event requirements">

                    <div class="separator"><h6>
                      My Event Requirements *
                    </h6></div>
            </form>
      
<br>
<br>
            <p>
                
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" name="event requirements">
                  My Event Requirements *
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body ">
                  <div class="row">
                    <div class="input-group col-md-6" style="padding-left: 43px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-primary" style="width: 470px;" type="button" data-toggle="dropdown" name="avrequirements">Audio / Video Requirements *</button>
                        <div class="dropdown-menu" style="width: 470px;">
                          <a class="dropdown-item" href="#">No A / V Equipment Required</a>
                          <hr>
                          <a class="dropdown-item" href="#">A / V Equipment is Required</a>
                        
                        </div>
                      </div>
                    </div>


                    <div class="input-group col-md-6" style="padding-left: 37px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-primary" style="width: 470px;" type="button"  data-toggle="dropdown" name="accomodation">Accommodation</button>
                          <div class="dropdown-menu" style="width: 470px;">
                            <a class="dropdown-item" href="#">No Accommodation Required</a>
                            <hr>
                            <a class="dropdown-item" href="#">Accommodation is Required</a>
                            
                          </div>
                        </div>
                      </div>

                    <div class=" container  col-md-12">
                        <textarea name="" id="" placeholder="Does your event have any specific requirements?" cols="143" rows="10" style="margin-left:27px; width:988px; padding-left: 12px;" name="moredetails"></textarea>
                    </div>
                 </div>
                </div>
              </div>
            </div> -->
            <div class="container"> <hr />
              
              <form class="center" style="margin-left:40px ;">
                  <div class="separator">
                    <h6>
                      My Contact Details *
                    </h6>
                  </div>
              </form>
              <br>
              <br>
              
            </div>
            
            
              <div class="form-group col-md-6">
                <label>Full Name *</label>
                <input type="text" name="fullName" class="form-control inputborder" >
              </div>
          
                <div class="form-group col-md-6">
                    <label>Phone Number *</label>
                  <input type="text" name="phoneNumber" class="form-control inputborder" >
                  <br>
                  
                </div>

            <div class="form-group col-md-12">
              <label>Email Address *</label>
              <input type="text" class="form-control inputborder"  name="emailAddress">
            </div>
            
            
            <!-- <div class="form-group col-md-6">
              <label>Promo Code *</label>
              <input type="text" class="form-control inputborder" name="promoCode" >
            </div> -->

            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-lg" style="width: 80%;" name="sendEquiry">Send My Enquiry</button>
            </div>

          </form>
              <div>
                <%- include ("../partials/scripts") %>  
                 
              </div>
            
  
