<%- include ("../partials/adminheader") %> 
<%- include ("../partials/adminnav") %> 
  <div class="main-content">
    <!-- Navbar -->
    
    <div class="col-md-8">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <h1>Vendors List</h1>
          <table>
            <tr>
              <th>Vendor Name</th>
              <th>Venues</th>
              <th>Delete</th>
              <th>Details</th>
            </tr>

  
            <tr>

              <td>Maqsood</td>

              <td><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">
                  Registered Venues
                </button></td>

              <td><button id="dlt" type="button" class="btn btn-danger">Delete</button></td>

              <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                  data-target=".bd-example-modal-lg">Info</button>
              </td>
            </tr>
           
            <tr>
              <td>Danish Ali</td>

              <td><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">
                  Registered Venues
                </button></td>
              <td><button id="dlt" type="button" class="btn btn-danger">Delete</button></td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                  data-target=".bd-example-modal-lg">Info</button>
              </td>
            </tr>

        


        
        

  <!-- Table -->

  <!-- Dark table -->

  <!-- Footer -->
  <!-- <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2019 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">PlanEve</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">PlanEve</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              
            </ul>
          </div>
        </div>
      </footer> -->
  </div>
  </div>

  
  <!-- jquery -->

  <!--   Core   -->

  
  <!-- <script>
</body>
</html>